body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: rgb(19, 19, 19);
    color: white;
}

.navbar-header
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar-default
{
    background-color: rgb(49, 49, 49);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid rgb(130, 255, 119);
}

.navbar-default a
{
    display: block;
    padding: 15px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
}

.menu-button
{
    display: none;
}

.navbar ul li a:hover
{
    color: rgb(130, 255, 119);
}

.nav-slider
{
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: rgb(37, 37, 37);
    margin: 0;
    padding: 0;
    list-style: none;
    width: 260px;
    height: 100vh;
    border-left: 1px solid rgb(130, 255, 119);
}

.nav-slider a
{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

main
{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    flex-grow: 1;
}

.bio-section
{
    border-style: solid;
    border-color: rgb(130, 255, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px;
    background-color: rgb(34, 34, 34);
    margin: 20px auto;
}

.bio-imgbox
{
    height: 180px;
    width: 180px;
    border-style: solid;
    border-color: rgb(130, 255, 119);
    border-radius: 50%;
    overflow: hidden;
    border-color: linear-gradient;
}

.bio-imgbox img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px -20px;
    display: block;
}

.bio-info
{
    border-style: solid;
    color: white;
    align-content: center;
    border-color: rgba(240, 248, 255, 0);
    padding-left: 15px;
}

.bio-info ul
{
    height: 100%;
    border-style: solid;
    border-color: rgba(255, 255, 0, 0);
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio-info ul li i
{
    padding-right: 10px;
}
 
.bio-info ul li a
{
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
}

.bio-info ul li a:hover
{
    color: rgb(130, 255, 119);
}

.section
{
    margin-left: 50px;
    margin-top: 5px;
    max-width: 748px;
    min-width: 748px;
}

.header
{
    
    font-size: 36px;
    font-style: italic;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 15px;
    max-width: 464px;
    color: rgb(130, 255, 119);
    
    /*

    Animation text colors

    background: linear-gradient(to right, rgb(128, 0, 128), rgb(255, 255, 0), rgb(0, 0, 255));
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: animateGradient 4s ease infinite;
    */
    
}

.about-info
{
    margin-left: 25px;
}

.edu-info
{
    max-width: 768px;
}

.exp-info ul li::marker
{
    color: rgb(130, 255, 119);
    
}

.seperator
{
    margin-left: 25px;
    position: relative;
    height: 1px;
    margin-bottom: 15px;
}

.seperator::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, rgb(130, 255, 119), rgb(19, 19, 19));
    transform:scaleX(0);
    transform-origin: left;
    animation: animateGradient 4s ease-in-out infinite;
}

.title
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title strong
{
    padding: 5px;
    margin-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.title em
{
    margin-left: auto;
    width: auto;
    min-width: auto;
    white-space: nowrap;
    flex-shrink: 0;
    align-content: center;
    margin-right: 15px;
}

.sub-title
{
    margin-left: 25px;
    align-content: center;
}

.techskills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    height: auto;
}

.skill-row
{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 2;
    border-bottom: 1px solid rgb(66, 66, 66);
}

.skill-row:last-child
{
    border-style: none;
}

.skill-row strong
{
    min-width: 160px;
    font-weight: bold;
    align-content: center;
}

.certi-box
{
    display: flex;
    width: 100%;
}

.cert-imgbox
{
    margin-left: 50px;
    width: 600px;
    height: 300px;
    border-style: solid;
    overflow: hidden;
}

.cert-imgbox img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.academic-info ul li::marker
{
    color: rgb(130, 255, 119);
}


.grid3 ul
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

.grid3 ul li
{
    background-color: rgb(31, 31, 31);
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    border: solid 1px rgb(75, 75, 75);
}

footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}

.contact
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(53, 53, 53);
    border-top: 1px solid rgb(80, 202, 110);
    box-sizing: border-box;
    gap: 24px;
}

.contact ul
{
    list-style: none;
    padding: 0px;
}

.contact ul li a
{
    text-decoration: none;
    color: white;
}

.contact ul li a:hover
{
    color: rgb(130, 255, 119);
}

@keyframes animateGradient
{
    0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
